---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: environments
  namespace: argocd
spec:
  project: default
  sources:
    - path: environments/envs
      repoURL: https://github.com/FelipeVerbanek/vcluster-gitops.git
      targetRevision: HEAD
  
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
